{% comment %} 

<style>
  .centered-image-section {
    background-color: #1b0b0b;
    padding: 50px 0;
    text-align: center;
  }

  .centered-image-section .image-container {
    display: inline-block;
    border: 4px solid #5a2f1f;
    padding: 4px;
  }

  .centered-image-section .image-container img {
    width: 200px;
    height: auto;
    display: block;
  }
</style> {% endcomment %}
<div class=" gradient color-{{ section.settings.color_scheme }} {{ section.settings.custom_class }}">
 {% if section.settings.banner_link != blank %}
  <a href="{{ section.settings.banner_link }}">
    {% endif %}
  <div class="outer--wrappper">
    
     {% if section.settings.image != blank %}
     
<div class="image-and-text image-container desktop--only">
    
   <img src="{{ section.settings.image | img_url: 'master' }}" alt="Framed Image">
  
 </div>
     {% endif %}
   
      <div class="image-and-text image-container mobile--only">
       
         {% if section.settings.mobile_image != blank %}
   <img src="{{ section.settings.mobile_image | img_url: 'master' }}" alt="Framed Image">
   {% else %}
   <img src="{{ section.settings.image | img_url: 'master' }}" alt="Framed Image">
      {% endif %}
      
           </div>
  
 <div class="image-and-text--text-wrapper desktop--only">
   {% for block in section.blocks %}
     {% if  block.settings.heading != blank %}
<div class="image-and-text content-wrapper">
  
  {{ block.settings.heading }}
     
</div>
   {% endif %}
   {% endfor %}
</div>

     <div class="image-and-text--text-wrapper footer--bottom-content mobile--only">
  {% for block in section.blocks %}
    {% if block.settings.heading != blank and forloop.index == 1 %}
      <div class="image-and-text content-wrapper footer--bottom-content-inner first">
        {% assign words = block.settings.heading | split: ' ' %}
        {% for word in words %}
          <span> {{ word }}</span>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}

       {% for block in section.blocks %}
    {% if block.settings.heading != blank and forloop.index == 2 %}
      <div class="image-and-text content-wrapper footer--bottom-content-inner second">
        {% assign words = block.settings.heading | split: ' ' %}
        {% for word in words %}
          <span>{{ word }}</span>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>
     
  </div>
    {% if section.settings.banner_link != blank %}
</a>
      {% endif %}
   <!-- <div class="scroll--down-indicator content">
  <a  href="#" class="scrollIndicator">
    <i></i>
  </a>
</div> -->
</div>
{% schema %}
{
  "name": "Image and text",
  "tag": "section",
  "class": "csection scroll-down",
  "settings": [
     {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
     {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Banner link"
    },
     {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    }
  
  ],
   "blocks": [
    {
     "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 2,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image and text"
    }
  ]
}
{% endschema %}